body{
    background-color: rgba(2, 246, 246, 0.954);
    
}
.headerbox{
    display: flex;
    justify-content: space-between;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 20px;
    
    
}
.navbox{
    display: inline-block;
    cursor: pointer;
    
}
:hover.navbox{
    background-color:aqua;

}
.img{
    width: 55px;
    height: auto;
    margin-right: 25px;
}
.link{
    text-decoration: none;
    justify-content: space-between;
    color: black;
}
.navheading{
    font-size:xx-large;
}